<div class="container">
  <%= render "form", review: @review %>

  <%= link_to restaurants_path, class: "text-decoration-none" do %>
    <i class="fa-solid fa-arrow-left"></i> Go back
  <% end %>
</div>
